<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
            <td>Remove</td>
        </tr>
        <tr th:each="s : ${CardListModel}">
            <td th:text="${s.pid}">ID</td>
            <td th:text="${s.pName}">Name</td>
            <td th:text="${s.price}">Price</td>
            <td><a>-</a><input th:value="${s.quantity}" disabled style="width: 30px; text-align: center;"><a>+</a></td>
            <td th:text="${s.price * s.quantity}">Subtotal</td>
            <td th:text="${s.pid}">ID</td>
        </tr>
    </table>
</body>
</html>